/* Core Definitions */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block; }
body {
line-height: 1; }
ol, ul {
list-style: none; }
blockquote, q {
quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none; }
table {
border-collapse: collapse;
border-spacing: 0; }
body {
background: #f9f9f9;
font: 14px/22px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
color: #444;
-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
-webkit-text-size-adjust: 100%;
}

.clients{background: url('../images/logos.png') no-repeat;width: 300px;height:300px;display: block;margin: 0 auto 30px auto;}
.one{background: url('../images/1.png') no-repeat;width: 284px;height:38px;display: block;margin: 0 auto 30px auto;}
.two{background: url('../images/2.png') no-repeat;width: 259px;height:52px;display: block;margin: 0 auto 30px auto;}
pre{margin: 0 0 40px 0;}
nav{margin: 10px 0 0 0;padding: 0 0 0 0;min-height: 400px;}
header{font: 800 22px/30px 'Open Sans';text-transform: uppercase;}
article{text-shadow: 1px 1px 0px #fff;text-align: center;margin: 40px 0 40px 0;}
footer{margin: 50px auto 0 0;positon: fixed;bottom:0;color: #aaa;text-align: center;}

h1, h2, h3, h4, h5, h6 {color: #181818;font-family: "Lato", sans-serif;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; font-weight: bold; text-transform: uppercase; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
a, a:visited { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
ul, ol { margin-bottom: 20px; margin-top: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }
.tip{-webkit-border-radius: 300px;-webkit-border-bottom-left-radius: 0;-moz-border-radius: 300px;-moz-border-radius-bottomleft: 0;border-radius: 300px;border-bottom-left-radius: 0;background: #444;width: 20px;color: #fff;padding: 5px 12px 5px 10px;text-align: center;font-weight: bold;margin: 0 10px 0 0 ;}
ul.links{margin: 0 0 0 0;padding: 0 0 0 0;}
.links li{float: left;margin: 0 0 30px 0;padding: 0 0 0 0;clear: both;}

/* #Images
================================================== */

img.scale-with-grid {
	max-width: 100%;
	height: auto; }

/* Layout */
.container{width: 100%;padding:0;}
section#spread{width:auto;height:100%;max-width: 1364px;padding:35px 20px 20px 20px;overflow:hidden;}
._col{width:23%;height:auto;display:inline-block;margin:0 1% 2% 1%;}
article._item {
	width:100%;
	margin: 0;
	padding: 0;
	color: #a5a5a5;
	background: #fff;
	font: 14px/22px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
	text-align: left;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	text-shadow: 1px 1px 1px #fff;
	box-shadow: 1px 1px 1px #d8d8d8;
	text-align: left;
}
article._item > header {
	font-size: 18px;
	font-family: "Helvetica";
	font-style: normal;
}
article._item:hover{
	background: #fff;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 1px 1px 1px #d8d8d8;
	text-align: left;
}
article._item img{
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 100%;
}
article._item > p{
	padding: 0px 0 5px 10px;
}
header.light{
	font-size: 18px;
	line-height: 22px;
	text-shadow: 1px 0px 1px #fff;
	padding-left: 10px;
	padding-top: 10px;
}
a.light{
	color: #888;
	font: 12px/18px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.left{padding-left: 10px;}
.fancy{
	font: 400 18px/22px "gentium book basic";
	font-style: italic;
}
.twenty-two-pixels{
	float:left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 22px;
	width: 22px;
}
.user{
	float:left;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	font:14px/22px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.user a{
	color: #4385A7;
}
.user a:hover{
	color: #4385A7;
	text-decoration: underline;
}
.description{
	margin: 0 0 0 0;
	padding: 0 0 5px 10px;
	height: 20px;
}
/**************** Queries *******************/
@media screen and (max-width: 960px){
	._col{width:31%;}
}
@media screen and (max-width: 800px){
	._col{width:48%;}
}
@media screen and (max-width: 640px){
	._col{width:98%;}
}